/* Genric Universal tag CSS start */

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
}
body {
  overflow-x: hidden;
}
img {
    max-width: 100%;
    height: auto;
    border: none;
}
h1{
    font-size: 32px !important;
}
h2{
    font-size: 24px !important;
    color: #00458B;
    text-align: center;
    font-weight: 700;
}
p{
    font-size: 16px !important;
    line-height: 1.6em;
    margin: 0;
    color: #000000;
}
.btn{
    font-size: 15px;
}
a:hover {text-decoration: none;}
.navbar{
  margin-bottom: 0px;
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #000000;
}
.navbar-inverse .navbar-toggle{
    background-color: #fff;
}

/* Genric Universal tag CSS end */

/* ######################################################################################################## */

/* Navigation start */

.navbar-inverse {
    background-color: #3FD2C7;
    border-color: #3FD2C7;
}
.navbar-nav>li {
    display: inline-block;
    padding: 10px;
}
.navbar-inverse .navbar-nav>li>a {
    /* background: #3FD2C7 none repeat scroll 0 0; */
    /* border-bottom: 2px solid #fff; */
    /* border-width: 0; */
    color: #fff ;
    font-size: 20px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.navbar-inverse .navbar-nav > li > a.current,
.navbar-inverse .navbar-nav > li > a:hover {
        /* background: #49505F; */
        border-bottom: 2px solid #fff;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    justify-items: center;
}

nav .navbar-nav ul{
  display: flex;
}

.navbar .navbar-collapse {
    text-align: center;
}

.menu-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-header img{
  width: 10%;
  position: absolute;
  left: 8%;
}

/* Navigation end */

/* Section1 start */

.carousel-indicators{
    margin-left: 20%;
}
.carousel-indicators .active {
    /* width: 12px; */
    /* height: 12px; */
    margin: 0;
    background-color: #fff;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #0009;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}
.card{
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.section-1-square1{position: absolute;
    top: -130px;
    right: 90px;
    width: 200px;
    height: 200px;
    background: -webkit-gradient(linear, left top, right top, from(#2336b6), to(rgba(31,38,103,0.9)));
    background: linear-gradient(to right, #2336b6, rgba(31,38,103,0.9));
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.section-1-square2{
    position: absolute;
    top: -130px;
    right: -30px;
    width: 220px;
    height: 220px;
    /* border-radius: 110px; */
    background: -webkit-gradient(linear, left top, right top, from(rgba(49,207,171,0.5)), to(#50e3c2));
    background: linear-gradient(to right, rgba(49,207,171,0.5), #50e3c2);
    mix-blend-mode: multiply;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    transform: rotate(-45deg);
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms;
}
.card img{
    width: 30%;
    padding: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
}

  /* Section1 end  */

  /* header CSS missing */
.single-page-nav { text-align: center; }
  /* header CSS missing */

  /* Blog-Area start */
  
.blog-content {
    background: #f2f2f28f;
    /* padding-bottom: 25px; */
    /* max-width: 555px; */
    /* margin: 0 auto; */
    height: 500px;
    width: 550px;
    padding: 10px;
}
.blog-content h2 {
      color: #666666;
      text-transform: capitalize;
}
.blog-content p{
      padding: 27px;
      text-align: left;
      color: #333333;
}
  
  /* Blog-Area start */

  /* Section2 start */

.green-text { color: #178A27; }
.blue-text { color: #1686C1; }
.gray-text { color: #1686C1; }
.green-btn { background: #178A27; }
.green-btn:hover { background: #449D44; }
.blue-btn { background: #1686C1; }
.blue-btn:hover { background: #31B0D5; }
.red-btn { background: #852406; }
.red-btn:hover { background: #C9302C; }
.feature-content {
    background: #F2F2F2;
    padding-bottom: 40px;
}
.feature-image{
  height: 230px;
}
.feature-content-title {
    padding: 0 20px;
    text-align: left;    
}
.feature-content-description {
    padding: 0 20px 35px;
    text-align: left;
    color: #333333;
    margin-top: 15px;
}
.feature-content-link {
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.feature-content-link:hover, .feature-content-link:link, .feature-content-link:visited  {
  color: white;
  text-decoration: none;
} 

.readmore{
    margin-right: 10px;
  }
/* Section2 end */

/* ################################################################################## */

/* Section3 start */

/* Start Services Area CSS */
div#service-area-main {
    float: left;
    width: 100%;
  margin-top:-200px;
}
.our-service{
  margin:65px 0px 85px;
}
/*section#services-area {
  background-image: url("../img/bg-2.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}*/
.service  h1 {
  color: #fff;
  text-transform: capitalize;
  /* text-shadow: 2px 2px #aaa; */
  margin-bottom: 20px;
}
.service > p {
    color: #fff;
    font-size: 18px;
}
.services-section {
    height: 100%;
   /* padding-top: 150px;*/
}
/* End Services Area CSS */

/* Start Testimornial Area CSS */
#testimornial-area{
  margin-bottom: 20px;
  /* padding-bottom: 40px; */
}
.testimonial-content {
  background-color: #f2f2f2;
  height: 500px;
  /* max-width: 260px; */
  /* margin: 0 auto 30px; */
}
.testimonial-content  p {
    padding: 10px 20px;
    text-align: left;
}
.content-link {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    color: #666;
    display: inline-block;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
    margin-top: 15px;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.content-link:hover,
.content-link:focus {
    background: #E6E6E6 none repeat scroll 0 0;
}
/* End Testimornial Area CSS */

/* Section3 start */

/* Section4 start */


.contact-section{
  background-color: #3fd2c870;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 60px;
}
.contact-section .container {
    max-width: 750px;
}
.contact-content h1 {
    color: #00458B;
    /* color: #fff; */
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.contact-content p {
    background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px 15px;
}
.contact-form-left { padding-left: 0; }
.contact-form-right { padding-right: 0; }
input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    color: #000000; 
}
/*https://css-tricks.com/snippets/css/style-placeholder-text/*/
.form-control::-webkit-input-placeholder {
    color: black;
 }
 .form-control:-moz-placeholder { /* Firefox 18- */
    color: black;  
 }
 .form-control::-moz-placeholder {  /* Firefox 19+ */
    color: black;  
 }
 .form-control:-ms-input-placeholder {  
    color: black;  
 }
.form-control {
  border: none;
  background: rgba(242, 242, 242, 0.4);
  height: calc(1.5em + .75rem + 5px);
  color: #000;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
}
textarea.form-control {
  min-height: 114px;
  height: auto;
  font-weight: 600;
  font-family: inherit;
}
/* #comment.form-control {} */
.form-group button {
  background: none repeat scroll 0 0;
  color: #000000;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 15px;
  /* font-weight: bold; */
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: -50px;
}

/* Section4 end */

/* footer start */

footer{
  background: #3FD2C7 none repeat scroll 0 0;;
}
.footer-content  h1 {
    color: #666;
    /* font-size: 32px; */
    font-style: italic;
    margin-bottom: 25px;
    margin-top: 35px;
}
.footer-content  p {
    color: #999;
    font-style: italic;
    margin-bottom: 30px;
}
.copy {
    color: #666;
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 10px;
}

/* footer end */

/* Slick Nav CSS */
.slicknav_menu {
    display:none;
}
.slicknav_nav a {
    text-transform: capitalize;
}
.slicknav_menu {
  background: #40475a none repeat scroll 0 0;
}
/* Slick Nav CSS end*/

/* Scrool To top */
/* Image style */
#scrollUp {
    background-image: url("../img/top.png");
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
}
/* End Scroll To top */

/* space to overwrite */
#blog-area, #section2, #section3, #testimornial-area, #section4{
    padding-top: 10px;
}

/* space to overwrite */